name: cron
on:
  schedule:
    - cron: '0 * * * *'
  push:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: cron
  cancel-in-progress: true

jobs:
  cron:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r ./requirements.txt

      - name: Run Sync
        run: |
          python3 main.py

      # This is the correct step that saves the files
      - name: Commit and push changes
        uses: EndBug/add-and-commit@v9
        with:
          add: '.'
          message: 'Automated stonks update'
          push: true