name: Update Stonks

on:
  schedule:
    - cron: '0 * * * *'
  push:
    branches:
      - master
  workflow_dispatch:

# Add permissions for pages deployment
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # This job builds the site
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      - name: Install Python dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r ./requirements.txt
          
      - name: Run Sync
        run: |
          python3 main.py
          
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # This tells it to upload the 'dist' folder
          path: './dist'

  # This job deploys the site
  deploy:
    # Requires the build job to finish first
    needs: build
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4